{% load i18n %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/base.css" />
        {% block style %}{% endblock %}
        <title>{% trans "Georgian OCR | " %}{%block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}
    <h1>TESTING ONLY</h1>
    <p>This site is for testing only. Please read the following instructions carefully before using.</p>
    <ul>
	    <li>Anyone with this site's password can see your documents (and delete them).</li>
	    <li>Your documents <strong>will</strong> be deleted eventually.</li>
	    <li>This site may go down without warning; do not rely on it.</li>
	    <li>Only Georgian text will be converted. If you need English or Russian, <a href="mailto:dohler@gmail.com">email me</a>.</li>
	    <li>For best results, upload PDF or PNG scanned at 300dpi or higher.</li>
	    <li>The site is running on an old computer, expect <strong>at least</strong> 80 seconds per page.</li>
	    <li>Please do not upload documents with more than 15 pages.</li>
	    <li>If you encounter problems, please <a href="mailto:dohler@gmail.com">contact me</a>.</li>
    </ul>
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    </body>
</html>
