{% load i18n %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/base.css" />
        {% block style %}{% endblock %}
        <title>{% trans "Georgian OCR | " %}{%block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}
    <h1>TESTING ONLY</h1>
    <p>This site is for testing only. Your documents <em>will</em> be deleted eventually, and this site may go down without warning.</p>
    <p>For best results, upload PDF or PNG scanned at 300dpi or higher.</p>
    <p>Processing takes approximately 75 seconds per page; this will be improved in the future.</p>
    <p>Please do not upload documents with more than 15 pages.</p>
    <p>If you encounter problems, please contact <a href="mailto:dohler@gmail.com">Derek</a>.</p>
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    </body>
</html>
