{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My Documents" %}{% endblock title %}
{% block body %}
<table>
	<tr>
		<th>{% trans "Document name" %}</th>
		<th>{% trans "Format" %}</th>
		<th>{% trans "Download original" %}</th>
	</tr>
	{% for doc in docs %}
	<tr><td>{{doc.upload_name}}</td>
	    <td>{{doc.file_format}}</td>
	    <td><a href="{% url interface.views.documents.get_doc doc.internal_name %}">Link</a></td>
	    <td><a href="{% url interface.views.documents.delete doc.internal_name %}">Delete</a></td>
        </tr>
	{% endfor %}
</table>
{% endblock body %}
