{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My Documents" %}{% endblock title %}
{% block body %}
<table>
	<tr>
		<th>{% trans "Document name" %}</th>
		<th>{% trans "Format" %}</th>
		<th>{% trans "Download original" %}</th>
	</tr>
	{% for doc in docs %}
	<tr><td>{{doc.upload_name}}</td>
	    <td>{{doc.file_format}}</td>
	    <td><a href="{% url djocr_logic.views.documents.get_doc doc.internal_name %}">Link</a></td>
	    <td><a href="{% url djocr_logic.views.documents.delete doc.internal_name %}">Del</a></td>
	    <td>{% ifequal doc.num_pages doc.finished_count %}
		    <a href="{% url djocr_logic.views.documents.get_text doc.internal_name %}">Download Text</a>
		{% else %}Processing...
		{% endifequal %}
	    </td>
        </tr>
	{% endfor %}
</table>
{% endblock body %}
